version: '3'
services:
    app:
        build:
            context: .
            args:
                - NODE_ENV=development
        command: ./node_modules/.bin/nodemon server.js
        depends_on:
            - mysql
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules/
        ports:
            - 3000:3000
        env_file:
            - .env
        environment:
            - NODE_ENV=development
    mysql:
        image: mysql:5.7
        restart: always
        volumes:
            - ./.db:/var/lib/mysql
        ports:
            - 6603:3306
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: dev
        logging:
            driver: none
    nginx:
        image: nginx:alpine
        restart: always
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./static:/opt/html
        ports:
            - 80:80
        links:
            - app:app
        logging:
            driver: none
